
/* Basic Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 1.6;
}

img {
    width: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    font-weight: 300;
}
h1 {
    font-weight: 500;
}
ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../images/home/showcase.jpg") no-repeat center center/cover;
    color: #fff;
      
}

#home .header-logo a {
    color: #fff;
   
}
#home .navbar-content {
    background-color: #333;
    opacity: 0.9;
    width: 100%;
    height: 80px;
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: fixed;
    top: 0;
}
#home .navbar-list {
    display: flex;
    font-weight: 400;
}

#home .navbar-list a {
    color: #fff;
   
    cursor: pointer;
    margin-inline: 10px;
    padding: 15px 20px;
  
  
}
#home .navbar-list a:hover,
#home .navbar-list a:focus {
    
    border-bottom: 2px solid var(--primary-color);
}

/* Hero Content */

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-content h1{
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;
}
.hero-content p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-block: 10px;
}
.hero-content a {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 20px;
}

/* Background Overlay */


#home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 5;
}
#home * {
    z-index: 10;
}

/* About Icons */

.flex-icons {
    display: flex;
    padding: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.flex-icon-items {
    padding: 20px;
}
.flex-icon-items i {
    padding: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.flex-icon-items h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.flex-icon-items p {
    
    font-size: 0.9rem;
    margin-top: 10px;
    line-height: 1.5;
  
}

/* Section Cases */

.section-cases {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-block: 40px;
}

.section-cases .section-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
}
.section-cases .section-heading h4 {
    font-size: 1.2rem;
    margin-top: 20px;
}
.section-cases .section-heading h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.flex-grid {
    display: flex;
    padding: 1em;
    
}
.flex-grid-item {
    width: 25%;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
.flex-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    cursor: pointer;
}
.flex-grid-item img:hover {
    opacity: 0.7;
}

/* Section Teams  */

.teams .teams-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.teams .teams-heading h4 {
    font-size: 1.2rem;
    margin-top: 20px;
}
.teams .teams-heading h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.teams .teams-heading p {
        
    font-size: 0.9rem;
    margin-top: 10px;
    line-height: 1.5;
}
.teams .flex-icons img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Form  */
.contact .columns h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.contact .contact-form {
    width: 100%;
    padding: 10px 20px;
}

.contact .contact-form input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
}
.contact .contact-form input:focus {
    outline-color: var(--primary-color);
}

.contact .contact-form .btn {
    margin-top: 20px;
}


/* Footer */

.footer {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer i {
    margin-inline: 15px;
}
.footer-line-1{
    margin-bottom: 10px;
}

@media screen and (max-width:768px){
    #home .navbar-content  {
        flex-direction: column;
        height: 150px;
        padding: 1em;
        justify-content: space-around;
    }
    .flex-icons {
        flex-direction: column;
       
    }
    .flex-icon-items {
        border-bottom: 1px solid #333;
    }
    .solutions .columns{
        flex: 100%;
        max-width: 100%;
        
    }
    .flex-grid {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-grid-item {
        width: 100%;
    }
}
