
:root {
    --primary-color : #28a745;
    ---secondary-color: #0284D0;
}


.text-primary {
    color: var(--primary-color);
}
.text-secondary {
    color: var(---secondary-color);
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 0.6em 1.5em;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}
.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}
.btn:hover,
.btn:focus {
    opacity: 0.8;
}

.btn-secondary,
.bg-secondary {
    background-color: var(---secondary-color);
    color: #fff;
}
.btn-dark,
.bg-dark {
    background-color: #333;
    color: #fff;
}

.btn-light,
.bg-light {
    background-color: #ececec;
    color: #333;
}
.btn-outline {
    background-color: transparent;
    border: 2px solid #fff;
}

/* Flex Columns */

.solutions .rows {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.solution-reverse .rows {
    flex-direction: row-reverse;
}
.solutions .columns  {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

}
.solutions .columns .column-1,
.solutions .columns .column-2 {
    height: 100%;
}
.solutions .columns .column-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.solutions .columns .column-2  {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 padding:2em;
}
.solutions .column-2 h4 {
    font-size: 1rem;
}
.solutions .column-2 h2 {
   font-size: 2.5rem;
   letter-spacing: -1px;
   margin-block: 8px;
}
.solutions .column-2 p {
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 0.8rem;
}
.solutions .column-2 a {
    font-weight: bold;
}


